name: CI/CD Pipeline for Vue App

on:
  push:
    branches:
      - main
  workflow_dispatch:  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/vue-app:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/vue-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build  

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Azure CLI
        run: |
          # Install Azure CLI
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Install jq
        run: |
          # Check if jq is installed, if not, install it
          if ! command -v jq &> /dev/null
          then
            echo "jq not found, installing..."
            sudo apt-get update
            sudo apt-get install jq -y
          else
            echo "jq is already installed."
          fi

      - name: Log in to Azure CLI
        run: |
          echo "${{ secrets.AZURE_CREDENTIALS }}" > azure-credentials.json
          az login --service-principal \
                   --username $(jq -r .appId azure-credentials.json) \
                   --password $(jq -r .password azure-credentials.json) \
                   --tenant $(jq -r .tenant azure-credentials.json)

      - name: Deploy to Azure App Service
        run: |
          # Deploy the containerized app to Azure App Service
          az webapp create --resource-group harrywahyuramadhan1 \
                           --plan flexidev-webapp \
                           --name webapp-flexidev \
                           --deployment-container-image-name ${{ secrets.DOCKER_USERNAME }}/vue-app:latest

      - name: Deployment successful
        run: echo "Application deployed to Azure App Service"
